# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil
Listings/
Objects/
*.crf
*.build_log.htm
*.htm
*.axf
*.lnp
*.dep
*.map
*.bin

DebugConfig/
*.uvguix.*
*.uvgui.*
*.uvoptx
*.scvd
*JLinkLog.txt
*JLinkSettings.ini
~s*
*.TMP
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkLog.txt
MDK-ARM/CppTemplate.uvoptx
MDK-ARM/CppTemplate.uvoptx
MDK-ARM/CppTemplate.uvprojx
MDK-ARM/CppTemplate/can.s
MDK-ARM/CppTemplate/dma.s
MDK-ARM/CppTemplate/driver_can.s
MDK-ARM/CppTemplate/driver_haltick.s
MDK-ARM/CppTemplate/driver_spi.s
MDK-ARM/CppTemplate/driver_uart.s
MDK-ARM/CppTemplate/driver.s
MDK-ARM/CppTemplate/ExtDll.iex
MDK-ARM/CppTemplate/freertos.s
MDK-ARM/CppTemplate/gpio.s
MDK-ARM/CppTemplate/main_1.s
MDK-ARM/CppTemplate/main.s
MDK-ARM/CppTemplate/spi.s
MDK-ARM/CppTemplate/stm32f4xx_hal_msp.s
MDK-ARM/CppTemplate/stm32f4xx_hal_timebase_tim.s
MDK-ARM/CppTemplate/stm32f4xx_it.s
MDK-ARM/CppTemplate/tim.s
MDK-ARM/CppTemplate/usart.s
CppTemplate.ioc
MDK-ARM/CppTemplate.uvoptx
MDK-ARM/CppTemplate.uvprojx
MDK-ARM/startup_stm32f407xx.s
MDK-ARM/CppTemplate/CppTemplate.sct
MDK-ARM/CppTemplate.uvprojx
CppTemplate.uvprojx
MDK-ARM/CppTemplate.uvoptx
